---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/sections/Hero.astro';
import SplitPanel from '@components/sections/SplitPanel.astro';
import Features from '@components/sections/Features.astro';
import { featureLists } from '@data/features';
import { statsLists } from '@data/stats';
import comunidad from '../assets/images/home/comunidad.jpg';

const seoTitle = "Fundacion Bienestar";
const seoDescription = "Bienestar para todos, acciones que transforman vidas";

const heroContent = {
    title: 'Bienestar para todos, acciones que transforman vidas',
    description: 'Trabajamos para llevar salud, educacion y deporte a quienes mas lo necesitan',
    buttons: [
        {
            text: 'Conoce nuestra mision',
            link: '/contact',
            target: '_self'
        },
    ],
    backgroundImage: '',
    overlayOpacity: 0.2
}

const featuresSection = {
    eyebrow: "Fundacion Bienestar",
    title: "Bienestar para todos, acciones que transforman vidas",
    description: "Con la mision de contribuir de forma integral a mejorar la salud y calidad de vide de las comunidades mediante el desarrollo y ejecucion de diversos proyectos y programas de salud, educaion y deporte",
    features: featureLists.main.features,
    button: {
        text: "Mas informacion",
        link: "/#sobre-nosotros",
        variant: "primary" as const
    }
}

const FooterCta = {
    eyebrow: "",
    title: 'Fundacion Bienestar ',
    description: '',
    hideCta: false,
    button: {
        text: 'Unete a la causa',
        link: 'https://wa.link/b2okpa',
        target: '_blank'
    }
}

const styleGuideSection = {
    eyebrow: "Fundacion Bienestar",
    headline: "Entendimos que teniamos que ir lejos para entender",
    description: "Fuimos a esas comunidades para conocer y entender sus motivaciones, sus necesidades, sus carencias, sus expectativas y aspiraciones",
    image: {
        src: comunidad,
        alt: "Featured image"
    },
    buttons: [
        {
            text: "Contactate ahora",
            link: "/#contacto",
            variant: "primary" as const
        }
    ]
}

const sideBySideStats = {
    eyebrow: "Stats",
    title: "Built for Speed and Flexibility",
    description: "Titan Core is designed with performance and developer experience in mind. Our lightweight theme gives you all the essentials without the bloat, letting you build exactly what you need with impressive speed.",
    variant: 'side-by-side' as const,
    stats: statsLists.withContent.stats,
    content: {
        title: "Built for Speed and Flexibility",
        description: "Titan Core is designed with performance and developer experience in mind. Our lightweight theme gives you all the essentials without the bloat, letting you build exactly what you need with impressive speed.",
        button: {
            text: "Discover Titan Core",
            link: "/theme-info",
            variant: "primary" as const
        }
    }
};

const mainCta = {
    eyebrow: "Build Blocks",
    title: "Ready-to-Use Components",
    description: "Save development time with our pre-built, accessible components. Each one is designed to integrate seamlessly with your projects while maintaining excellent performance.",
    button: {
        text: "View All Components",
        link: "/components",
        variant: "primary" as const,
        target: "_self" as const
    }
};


const recentPostsSection = {
    eyebrow: "LATEST INSIGHTS",
    title: " Learn From Our Experience",
    description: "Explore our latest articles on Astro JS development, theme customization tips, and web performance best practices.",
    button: {
            text: "View All Posts",
            link: "/blog",
        variant: "primary" as const
    }
}
---

<Layout footerCta={FooterCta} title={seoTitle} description={seoDescription}>
    <Hero content={heroContent} />
    <Features content={featuresSection} padding="base" background="light" />
    <SplitPanel content={styleGuideSection} imagePosition="right" background="light" padding="base" />
    <div class="pt-10 md:px-20" id='sobre-nosotros'>
        <h2>
            Sobre Nosotros    
        </h2>
        <p>
            En nuestra experiencia en el desarrollo e implementación de programas de salud visual ocupacional, dirigidos al sector privado, ayudamos a muchas familias de bajos ingresos... pero nos dimos cuenta de que no era suficiente. Había comunidades donde las necesidades eran aún mayores, y ahí es donde decidimos actuar
        </p>
        <p>
            Todo comenzó cuando entendimos que teníamos que ir lejos para ver cerca. Fuimos a las comunidades, caminamos por sus calles, escuchamos a sus habitantes y descubrimos sus necesidades reales.
        </p>
        <p>
            Así nació la Fundación Bienestar, con el compromiso de mejorar la calidad de vida de las comunidades a través de salud, educación y deporte.
            </p> 
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-10">
            <div>
                <h3>
                    Mision
                </h3>
                <p>
                    Contribuir de forma integral a mejorar la salud y calidad de vida de las comunidades mediante el desarrollo y ejecución de diversos proyectos en salud, educación y deporte.
                </p>
            </div>
            <div>
                <h3>
                    Vision
                </h3>
                <p>
                    Convertirnos en una entidad referente en el desarrollo y empoderamiento de comunidades en términos de salud y bienestar.
                </p>
            </div>
        </div>
    </div>
</Layout>